<div class="conteiner-fluid" id="page">
  <div
    class="d-flex justify-content-end align-content-center pt-3 px-3 mb-2"
    id="head"
  >
    <div>
      <h2 (click)="Timer(card.restTimer)" class="m-0 timer">
        {{ timerValue }}
      </h2>
    </div>
  </div>
  <div class="row m-0 justify-content-center">
    <ul class="list-group p-2">
      <li class="list-group-item" *ngFor="let set of workout?.sets">
        <div class="d-flex justify-content-between align-content-center">
          <p class="m-0">Rep:{{ set.rep }}</p>
          <p class="m-0">Weight:{{ set.weight | number : "1.2-2" }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="container-fluid mx-0 mt-3 p-4" id="stats">
    <div class="row justify-content-around">
      <div class="col-sm-11 col-lg-5" id="workout">
        <div>
          <canvas id="statsWorkout" class="m-3"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
