<div class="conteiner-fluid position-relative" id="page">
  <div class="d-grid gap-2 d-flex justify-content-end mb-3 pt-3 pe-2" id="addCard">
    <button
    type="button"
    class="btn ms-2"
    data-bs-toggle="modal"
    data-bs-target="#addCardWorkout"
  >
  <i class="bi bi-plus-lg"></i>
  </button>
  </div>
    <div class="row m-0 ">
      <div class="col-md-6 col-xxl-2 mb-2" *ngFor="let item of cardWorkout">
        <div class="card text-bg-dark" (click)="changePage(item.id)">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2">
              <i class="bi bi-stopwatch"></i> {{ item.restTimer }}
            </h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let workout of item.workouts">{{ workout.exercise.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
</div>




<div
  class="modal fade"
  id="addCardWorkout"
  tabindex="-1"
  aria-labelledby="addCardWorkoutLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addCardWorkoutLabel">Add New Card Workout</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewCardForm" (ngSubmit)="savenewCard()">
          <div class="mb-3">
            <label for="inputName" class="form-label">Name: </label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="inputName"
              formControlName="name"
            />
          </div>  
          <div class="accordion" id="Workout" class="mb-3">
            <div class="accordion-item" *ngFor="let panel of panels; let i = index">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#Workoutcollapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                  Workout #{{ panel }}
                </button>
              </h2>
              <div [id]="'Workoutcollapse' + i" class="accordion-collapse collapse show" data-bs-parent="#Workout">
                <div class="accordion-body">
                  <ng-container>
                    <app-workout></app-workout>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputRestTimer" class="form-label">RestTimer: </label>
            <input
              type="number"
              name="restTimer"
              class="form-control"
              id="inputRestTimer"
              formControlName="restTimer"
              min="1"
            />
          </div>  
          <div class="mb-3">
            <label for="user_id" class="form-label">user_id: </label>
            <input
              type="text"
              name="inputUser"
              class="form-control"
              id="inputUser"
              formControlName="inputUser"
              (change)="searchById()"
            />
            <select
            class="form-select"
            aria-label="Default select example"
            id="inputuser_id"
            name="user_id"
            formControlName="user_id"
          >
            <option value="" disabled selected>Search User</option>
            <option value={{userFound?.id}}>
                {{userFound?.email}}
            </option>
          </select>
          </div>  
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light" (click)="addPanel()">Add Exercise</button>
            <button type="submit" class="btn btn-success">Save card</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
