<nav class="navbar navbar-expand bg-fitwell position-fixed">
    <div
      class="container-fluid d-flex justify-content-center align-items-start border-end border-white"
    >
      <div class="flex flex-column py-4 align-items-center">
        <a class="navbar-brand m-0 d-flex justify-content-center" href="#">
          <img
            src="../../../assets/LogoApp.png"
            alt="Logo FitWell"
            width="200px"
            class="logo-1"
          />
          <img
            src="../../../assets/logoPiccolo.png"
            alt="Logo FitWell Min"
            width="50px"
            class="logo-2"
          />
        </a>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav w-100 d-flex flex-column align-content-between justify-content-between"
          >
            <div
              class="d-flex flex-column py-5 gap-3 align-items-center align-items-lg-start"
            >
              <li class="nav-item" *ngIf="user">
                <a
                  class="nav-link"
                  [routerLink]="['/']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <i class="bi bi-grid"></i>
                  <span class="title-nav"> Dashboard</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="user">
                <a
                  class="nav-link"
                  [routerLink]="['/workout']"
                  routerLinkActive="active"
                >
                  <i class="fas fa-dumbbell"></i>
                  <span class="title-nav"> Workout</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="user?.role?.includes('COACH')">
                <a
                  class="nav-link"
                  [routerLink]="['/card']"
                  routerLinkActive="active"
                >
                  <i class="bi bi-card-text"></i>
                  <span class="title-nav"> Workout cards</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="user">
                <a
                  class="nav-link"
                  [routerLink]="['/diet']"
                  routerLinkActive="active"
                >
                  <i class="fas fa-utensils"></i>
                  <span class="title-nav"> Diet</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="user?.role?.includes('NUTRITIONIST')">
                <a
                  class="nav-link"
                  [routerLink]="['/card-diet']"
                  routerLinkActive="active"
                >
                  <i class="bi bi-card-list"></i>
                  <span class="title-nav"> Diets list</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="!user">
                <a
                  class="nav-link"
                  [routerLink]="['/login']"
                  routerLinkActive="active"
                >
                  <i class="bi bi-person-check"></i>
                  <span class="title-nav"> Login</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="!user">
                <a
                  class="nav-link"
                  [routerLink]="['/register']"
                  routerLinkActive="active"
                >
                  <i class="bi bi-person-plus"></i>
                  <span class="title-nav"> Register</span>
                </a>
              </li>
            </div>
            <div id="out">
              <li class="nav-item" *ngIf="user">
                <button class="btn text-dark m-0 p-2" (click)="logout()">
                  <i
                    class="bi bi-box-arrow-left p-3 rounded-2 d-flex align-self-center fs-5" id="logout"
                  ></i>
                </button>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  