<div class="container">
  <form [formGroup]="newRecipe" (ngSubmit)="saveRecipe()">
    <div class="mb-3">
      <label for="inputname" class="form-label">Name: </label>
      <input
        type="number"
        name="name"
        class="form-control"
        id="inputname"
        formControlName="name"
      />
    </div>
    <div class="accordion mb-3" id="Set">
        <div class="accordion-item" *ngFor="let panel of panels; let i = index">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#Setcollapse' + i"
              aria-expanded="true"
              [attr.aria-controls]="'collapse' + i"
            >
              Set #{{ panel }}
            </button>
          </h2>
          <div
            [id]="'Setcollapse' + i"
            class="accordion-collapse collapse show"
            data-bs-parent="#Set"
          >
            <div class="accordion-body">
              <ng-container>
                <app-food-i></app-food-i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="addPanel()"
      >
        Add Set
      </button>
    <button type="submit" class="btn btn-success" *ngIf="!id">Save set</button>
    <button type="button" class="btn btn-info" *ngIf="id">Mod set</button>
  </form>
</div>
