<div class="conteiner-fluid" id="page">
  <div class="d-grid gap-2 d-flex justify-content-end mb-2 pt-3 pe-2" id="addCard">
    <div>
      <button
      type="button"
      class="btn"
      data-bs-toggle="modal"
      data-bs-target="#updateDiet"
    >
      Save Update
    </button>
    </div>
  </div>
  
  <div class="row m-0">
    <div class="col-md-6 col-xxl-2 mb-2" *ngFor="let ingredient of recipe">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title">{{ ingredient.name }}</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of ingredient.ingredients">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-md-end justify-content-center" id="info">
    <div id="nutrient">
      <canvas id="Macro" class="mx-3 mb-3"></canvas>
    </div>
  </div>
  
</div>



<div
  class="modal fade"
  id="updateDiet"
  tabindex="-1"
  aria-labelledby="updateDietlabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateDietlabel">Mod Card Workout</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="Update" (ngSubmit)="saveUpdateDiet()">
          <div class="mb-3">
            <label for="inputWeight" class="form-label">Weight: </label>
            <input
              type="number"
              name="weight"
              class="form-control"
              id="inputWeight"
              formControlName="weight"
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
